/* Check PR #38 if wanna see scss mermaid styling file for `svg-inline` strategy */

img[id^="mermaid-"] {
  background-color: light-dark(white, #eee);
  border-radius: 0.25rem;
  padding: 0.1rem;
}

